.custom-tooltip.is-light {
  border-color: #eee; /* 设置边框颜色 */
  background-color: #fff; /* 设置背景颜色 */
  color: #666; /* 设置文字颜色 */

  label {
    padding: 3px 7px;
    font-size: 12px;
    color: $tag_color;
    background: $tag_bg;
    border-radius: 3px;
    display: block;
    height: 22px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.custom-tooltip.el-tooltip__popper .popper__arrow {
  display: none !important;
}

//.custom-tooltip.el-tooltip__popper[x-placement^='top'] .popper__arrow::after {
//  border-top-color: #fff !important;
//}
//
//.custom-tooltip.el-tooltip__popper.is-light[x-placement^='top'] .popper__arrow {
//  border-top-color: #ccc !important;
//}
//
//.custom-tooltip.el-tooltip__popper[x-placement^='bottom']
//.popper__arrow::after {
//  border-bottom-color: #fff !important;
//}
//
//.custom-tooltip.el-tooltip__popper.is-light[x-placement^='bottom']
//.popper__arrow {
//  border-bottom-color: #ccc !important;
//}