.model-option-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &-left {
    display: flex;
    align-items: center;
    gap: 8px;
    .model-img {
      width: 18px;
      height: 18px;
      border-radius: 4px;
      object-fit: cover;
    }
  }

  .model-name {
    flex-shrink: 0;
    font-weight: 500;
  }

  .model-select-tags {
    display: flex;
    flex-wrap: nowrap;
    gap: 4px;
    flex-shrink: 0;
    margin-top: 4px;

    .model-select-tag {
      background-color: $tag_bg;
      color: $tag_color;
      border-radius: 4px;
      padding: 2px 8px;
      font-size: 10px;
      line-height: 1.2;
    }
  }
}

::v-deep .el-input__prefix {
  display: flex;
  align-items: center;
  .model-img {
    width: 22px;
    height: 22px;
    border-radius: 4px;
  }
}